.select-node{
  font-family: "PingFang SC";
  height: 32px;
  padding: 0 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  background: var(----1, #000617);
  gap: 12px;
  position: relative;
  .location{
    .location-icon{
      margin-right: 4px;
    }
  }
  .thread{
    width: 1px;
    height: 24px;
    border-radius: 2px;
    background: var(--, rgba(255, 255, 255, 0.10));
  }
}

.geo-ip-dashboard{
  border-radius: 3px;
  position: absolute;
  z-index: 10000;
  top: 32px;
  left: 0;
  width: 584px;
  font-family: "PingFang SC";
  background-color: #28344b;
  color: #D0D1D6;
  .filter-section{
    display: flex;
    flex-direction: column;
    .filter-row{
      font-size: 14px;
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid rgba(255, 255, 255, 0.06);
      .filter-label{
        color: #899DB7;
        width: 80px;
        line-height: 48px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        border-right: 1px solid rgba(255, 255, 255, 0.06);
        padding: 11px 16px;
      }
      .filter-options-area{
        flex: 1;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        max-height: 48px; /* 根据一行的高度来设置 */
        overflow: hidden; /* 超出部分隐藏 */
        transition: max-height 0.3s ease-in-out;
        gap: 4px;
        .option{
          text-align: center;
          width: 56px;
          height: 48px;
          line-height: 48px;
        }
        .option:hover{
          cursor: pointer;
          background: rgba(255, 255, 255, 0.10);
        }
      }
      .filter-options-area.show-all {
        max-height: none; /* 当点击“更多”时，显示全部行 */
      }

      .more-toggle{
        width: 80px;
        color: #899DB7;
        line-height: 48px;
      }
    }
  }

  .geo-ip-dashboard_tool{
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    background: var(----5, #1F283F);
    gap: 16px;
    .sousuo input{
      background-color: #1f283e;
      border: none;
      outline: none;
    }
    .sousuo input:focus{
      outline: 1px solid lightblue;
    }

    .refresh-node{
      height: 32px;
      width: 108px;
      border-radius: 4px;
      background: var(---, #3D4A66);
      padding: 0 12px 0 4px;
      text-align: center;
      line-height: 32px;
    }
  }
  .geo-ip-dashboard__content{
    padding: 16px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .node-item{
      height: 40px;
      padding: 0 24px;
      font-size: 14px;
      color: var(---2, #D0D1D6);
      font-weight: 400;
      line-height: 40px;
    }
  }

}

.active{
  width: 56px;
  color: #FF8F3D;
  border-radius: 24px;
  border: 1px solid #FF8F3D;
}
