@font-face {
  font-family: "XPA"; /* Project id 3357682 */
  src: url('iconfont.woff2') format('woff2'),
       url('iconfont.woff') format('woff'),
       url('iconfont.ttf') format('truetype');
}

.XPA {
  font-family: "XPA" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xpa-xiazai:before {
  content: "\e722";
}

.xpa-camera-full:before {
  content: "\e967";
}

.xpa-paidui:before {
  content: "\e71d";
}

.xpa-dengdaiwuliuhuichuan:before {
  content: "\e71e";
}

.xpa-dengdai:before {
  content: "\e71f";
}

.xpa-shibai:before {
  content: "\e720";
}

.xpa-chenggong:before {
  content: "\e721";
}

.xpa-guding:before {
  content: "\e71c";
}

.xpa-yunying:before {
  content: "\e71a";
}

.xpa-daping:before {
  content: "\e71b";
}

.xpa-zifei:before {
  content: "\e712";
}

.xpa-xinzengfenlei:before {
  content: "\e713";
}

.xpa-wuliu:before {
  content: "\e714";
}

.xpa-xinzengshuxing:before {
  content: "\e715";
}

.xpa-a-xinzeng1:before {
  content: "\e716";
}

.xpa-daochu1:before {
  content: "\e717";
}

.xpa-shanchu1:before {
  content: "\e718";
}

.xpa-daoru1:before {
  content: "\e719";
}

.xpa-caozuo:before {
  content: "\e707";
}

.xpa-chuangjiangongdan:before {
  content: "\e708";
}

.xpa-pingtaitongbu1:before {
  content: "\e709";
}

.xpa-chuangjiandingdan:before {
  content: "\e70a";
}

.xpa-daochu:before {
  content: "\e70b";
}

.xpa-caiwushenhe:before {
  content: "\e70c";
}

.xpa-fahuo2:before {
  content: "\e70d";
}

.xpa-chaifendingdan:before {
  content: "\e70e";
}

.xpa-chedan1:before {
  content: "\e70f";
}

.xpa-chaifendingdan-1:before {
  content: "\e710";
}

.xpa-daifaxietong1:before {
  content: "\e711";
}

.xpa-xinjianjiedian:before {
  content: "\e702";
}

.xpa-dingdancelve:before {
  content: "\e703";
}

.xpa-fahuocelve:before {
  content: "\e704";
}

.xpa-xinjianrenwu:before {
  content: "\e705";
}

.xpa-cangkucelve:before {
  content: "\e706";
}

.xpa-mac:before {
  content: "\e6e0";
}

.xpa-windows:before {
  content: "\e6f0";
}

.xpa-android:before {
  content: "\e6f4";
}

.xpa-crown:before {
  content: "\e72f";
}

.xpa-empty_start_event:before {
  content: "\e6fa";
}

.xpa-swim_lane:before {
  content: "\e6e9";
}

.xpa-alignment_center:before {
  content: "\e6f7";
}

.xpa-boundary_condition_event:before {
  content: "\e6f3";
}

.xpa-exclusive_gateway:before {
  content: "\e6f9";
}

.xpa-intermediate_signal_capture_event_01:before {
  content: "\e6f8";
}

.xpa-http_tasks:before {
  content: "\e6f6";
}

.xpa-inclusive_gateway:before {
  content: "\e6f1";
}

.xpa-Boundary_error:before {
  content: "\e6eb";
}

.xpa-parallel_gateway:before {
  content: "\e6f5";
}

.xpa-bold:before {
  content: "\e6ed";
}

.xpa-alignment_Left:before {
  content: "\e6f2";
}

.xpa-workflow_design_matter:before {
  content: "\e6ee";
}

.xpa-workflow_design_dropdown:before {
  content: "\e6ec";
}

.xpa-strikethrough:before {
  content: "\e6ef";
}

.xpa-user_tasks:before {
  content: "\e6de";
}

.xpa-text:before {
  content: "\e6df";
}

.xpa-right_select_unselected:before {
  content: "\e6ea";
}

.xpa-signal_start_event:before {
  content: "\e6e8";
}

.xpa-version_settings:before {
  content: "\e6e1";
}

.xpa-stroke_thickness:before {
  content: "\e6e2";
}

.xpa-timer_start_event:before {
  content: "\e6e3";
}

.xpa-boundary_timer_event:before {
  content: "\e6e4";
}

.xpa-frame_zoom_in_and_out:before {
  content: "\e6e5";
}

.xpa-workflow_design_delete:before {
  content: "\e6e6";
}

.xpa-intermediate_timer_capture_event:before {
  content: "\e6e7";
}

.xpa-intermediate_signal_capture_event:before {
  content: "\e6fb";
}

.xpa-expand_the_drop_down_on_the_right:before {
  content: "\e6fc";
}

.xpa-script_task:before {
  content: "\e6fd";
}

.xpa-service_task:before {
  content: "\e6fe";
}

.xpa-font_size:before {
  content: "\e6ff";
}

.xpa-alignment_stretch_left_and_right:before {
  content: "\e700";
}

.xpa-version_management:before {
  content: "\e701";
}

.xpa-kejianxing-bukejian:before {
  content: "\e6dc";
}

.xpa-kejianxing-kejian:before {
  content: "\e6dd";
}

.xpa-reset-position:before {
  content: "\e736";
}

.xpa-rotate90:before {
  content: "\e739";
}

.xpa-rotate-90:before {
  content: "\e73b";
}

.xpa-zoom-in:before {
  content: "\e6da";
}

.xpa-zoom-out:before {
  content: "\e6db";
}

.xpa-shenhe1:before {
  content: "\e6d9";
}

.xpa-history:before {
  content: "\e6d8";
}

.xpa-loading-v:before {
  content: "\e6d7";
}

.xpa-logo:before {
  content: "\e6d6";
}

.xpa-xiaomi1:before {
  content: "\e6d5";
}

.xpa-Vector2:before {
  content: "\e6d4";
}

.xpa-loading:before {
  content: "\e6d3";
}

.xpa-chacha:before {
  content: "\e6d2";
}

.xpa-jiebang:before {
  content: "\e6d1";
}

.xpa-a-Frame1:before {
  content: "\e607";
}

.xpa-a-Frame2:before {
  content: "\e6cf";
}

.xpa-Frame2:before {
  content: "\e6d0";
}

.xpa-a-Frame32:before {
  content: "\e606";
}

.xpa-Title:before {
  content: "\e605";
}

.xpa-Vector1:before {
  content: "\e604";
}

.xpa-daoru:before {
  content: "\e6ce";
}

.xpa-naozhong:before {
  content: "\e890";
}

.xpa-cuowu:before {
  content: "\e6cd";
}

.xpa-dengyu:before {
  content: "\e6cc";
}

.xpa-dayu:before {
  content: "\ec98";
}

.xpa-xiaoyu:before {
  content: "\ec99";
}

.xpa-dayudengyu:before {
  content: "\ec96";
}

.xpa-xiaoyudengyu:before {
  content: "\ec97";
}

.xpa-zidong:before {
  content: "\e6cb";
}

.xpa-window-restore:before {
  content: "\e748";
}

.xpa-window-minimize:before {
  content: "\e749";
}

.xpa-window-maximize:before {
  content: "\e74a";
}

.xpa-window-close:before {
  content: "\e74b";
}

.xpa-chedan:before {
  content: "\e6ca";
}

.xpa-tuidanjindu:before {
  content: "\e6c9";
}

.xpa-chaifen:before {
  content: "\e6c5";
}

.xpa-hebing1:before {
  content: "\e6c6";
}

.xpa-shoudong:before {
  content: "\e6c8";
}

.xpa-call:before {
  content: "\e6c7";
}

.xpa-youzhi:before {
  content: "\e6c3";
}

.xpa-heimingdan:before {
  content: "\e6c4";
}

.xpa-jian:before {
  content: "\e6c2";
}

.xpa-Vector-1:before {
  content: "\e6c0";
}

.xpa-Frame1:before {
  content: "\e6c1";
}

.xpa-jiedian:before {
  content: "\e6be";
}

.xpa-kaishijiedian:before {
  content: "\e6bf";
}

.xpa-jieshujiedian:before {
  content: "\e6bd";
}

.xpa-eye:before {
  content: "\e6bb";
}

.xpa-fixed:before {
  content: "\e6bc";
}

.xpa-Vector:before {
  content: "\e6ba";
}

.xpa-enlarge:before {
  content: "\e608";
}

.xpa-zoom:before {
  content: "\e6b9";
}

.xpa-kaishi:before {
  content: "\e6b7";
}

.xpa-zanting:before {
  content: "\e6b8";
}

.xpa-Frame-1:before {
  content: "\e6b5";
}

.xpa-love-full:before {
  content: "\e6b6";
}

.xpa-Frame:before {
  content: "\e6b4";
}

.xpa-xiaomi:before {
  content: "\e6b3";
}

.xpa-tuola:before {
  content: "\e6b2";
}

.xpa-change:before {
  content: "\e6b1";
}

.xpa-debug:before {
  content: "\e6b0";
}

.xpa-a-formdesign:before {
  content: "\e6ae";
}

.xpa-gongzuoliu:before {
  content: "\e6af";
}

.xpa-tianjiagongzuoliu:before {
  content: "\e6a7";
}

.xpa-tianjiazu:before {
  content: "\e6a8";
}

.xpa-delete1:before {
  content: "\e6a9";
}

.xpa-js:before {
  content: "\e6a6";
}

.xpa-debug-next:before {
  content: "\e6aa";
}

.xpa-debug-in:before {
  content: "\e6ab";
}

.xpa-debug-stop:before {
  content: "\e6ac";
}

.xpa-debug-skip:before {
  content: "\e6ad";
}

.xpa-switch:before {
  content: "\e68f";
}

.xpa-singleline-input:before {
  content: "\e686";
}

.xpa-info-text:before {
  content: "\e687";
}

.xpa-department:before {
  content: "\e688";
}

.xpa-dropdown:before {
  content: "\e689";
}

.xpa-amount:before {
  content: "\e68a";
}

.xpa-sign:before {
  content: "\e68b";
}

.xpa-kefu:before {
  content: "\e68c";
}

.xpa-account:before {
  content: "\e68d";
}

.xpa-number-input:before {
  content: "\e68e";
}

.xpa-phone:before {
  content: "\e690";
}

.xpa-association:before {
  content: "\e691";
}

.xpa-ranking:before {
  content: "\e693";
}

.xpa-email:before {
  content: "\e694";
}

.xpa-div-line:before {
  content: "\e695";
}

.xpa-multiline:before {
  content: "\e696";
}

.xpa-date:before {
  content: "\e697";
}

.xpa-description-with-picture:before {
  content: "\e698";
}

.xpa-calculate:before {
  content: "\e699";
}

.xpa-multiple-select:before {
  content: "\e69a";
}

.xpa-invoice:before {
  content: "\e69b";
}

.xpa-file:before {
  content: "\e69c";
}

.xpa-picture:before {
  content: "\e69d";
}

.xpa-table-cells:before {
  content: "\e69e";
}

.xpa-single-select:before {
  content: "\e69f";
}

.xpa-pager:before {
  content: "\e6a0";
}

.xpa-ID-card:before {
  content: "\e6a1";
}

.xpa-contact:before {
  content: "\e6a2";
}

.xpa-date-range:before {
  content: "\e6a3";
}

.xpa-web-site:before {
  content: "\e6a4";
}

.xpa-location:before {
  content: "\e6a5";
}

.xpa-quxiaotuidan1:before {
  content: "\e683";
}

.xpa-builder-with-text:before {
  content: "\e685";
}

.xpa-quit:before {
  content: "\e684";
}

.xpa-setting-item:before {
  content: "\e682";
}

.xpa-yimi:before {
  content: "\e67c";
}

.xpa-kuayuesuyun:before {
  content: "\e67d";
}

.xpa-youzheng:before {
  content: "\e67e";
}

.xpa-kuayuesuyun-1:before {
  content: "\e67f";
}

.xpa-anxun:before {
  content: "\e680";
}

.xpa-shunfeng:before {
  content: "\e681";
}

.xpa-debang:before {
  content: "\e648";
}

.xpa-ande:before {
  content: "\e676";
}

.xpa-ririshun:before {
  content: "\e677";
}

.xpa-yunda:before {
  content: "\e678";
}

.xpa-yuantong:before {
  content: "\e679";
}

.xpa-jingdong:before {
  content: "\e67a";
}

.xpa-zhaijisong:before {
  content: "\e67b";
}

.xpa-check:before {
  content: "\e675";
}

.xpa-changjiazisong:before {
  content: "\e673";
}

.xpa-zhongtong:before {
  content: "\e674";
}

.xpa-finance:before {
  content: "\e671";
}

.xpa-logistics:before {
  content: "\e672";
}

.xpa-copy:before {
  content: "\e670";
}

.xpa-RAW:before {
  content: "\e66f";
}

.xpa-icon:before {
  content: "\e66d";
}

.xpa-a-icon1:before {
  content: "\e66e";
}

.xpa-TM:before {
  content: "\e66a";
}

.xpa-JD:before {
  content: "\e66b";
}

.xpa-DY:before {
  content: "\e66c";
}

.xpa-finished:before {
  content: "\e669";
}

.xpa-notSelect:before {
  content: "\e666";
}

.xpa-notSelectHover:before {
  content: "\e667";
}

.xpa-select:before {
  content: "\e668";
}

.xpa-caiwu:before {
  content: "\e654";
}

.xpa-xpa:before {
  content: "\e655";
}

.xpa-jd:before {
  content: "\e656";
}

.xpa-a-stepfinished:before {
  content: "\e653";
}

.xpa-fapiaodengji:before {
  content: "\e601";
}

.xpa-slider:before {
  content: "\e652";
}

.xpa-kaidan:before {
  content: "\e63d";
}

.xpa-daifaxietong:before {
  content: "\e645";
}

.xpa-shouhou:before {
  content: "\e646";
}

.xpa-quxiaotuidan:before {
  content: "\e647";
}

.xpa-shenhe:before {
  content: "\e649";
}

.xpa-fahuo1:before {
  content: "\e64a";
}

.xpa-caishen:before {
  content: "\e64b";
}

.xpa-fenpeicaiwujiesuandanhao:before {
  content: "\e64c";
}

.xpa-pingtaitongbu:before {
  content: "\e64d";
}

.xpa-tuidan:before {
  content: "\e64e";
}

.xpa-tixinggongyingshang:before {
  content: "\e64f";
}

.xpa-hebing:before {
  content: "\e650";
}

.xpa-zhijian:before {
  content: "\e651";
}

.xpa-info:before {
  content: "\e634";
}

.xpa-error_fill:before {
  content: "\e632";
}

.xpa-success_fill:before {
  content: "\e633";
}

.xpa-success:before {
  content: "\e631";
}

.xpa-error:before {
  content: "\e611";
}

.xpa-part-select:before {
  content: "\e641";
}

.xpa-no-select:before {
  content: "\e642";
}

.xpa-selected:before {
  content: "\e643";
}

.xpa-no-select-hover:before {
  content: "\e644";
}

.xpa-low:before {
  content: "\e636";
}

.xpa-high:before {
  content: "\e639";
}

.xpa-up:before {
  content: "\e63a";
}

.xpa-down:before {
  content: "\e640";
}

.xpa-copy-item:before {
  content: "\e664";
}

.xpa-drag:before {
  content: "\e665";
}

.xpa-a-Frame31:before {
  content: "\e662";
}

.xpa-a-Frame3:before {
  content: "\e663";
}

.xpa-refresh:before {
  content: "\e660";
}

.xpa-edit:before {
  content: "\e661";
}

.xpa-add:before {
  content: "\e658";
}

.xpa-del:before {
  content: "\e659";
}

.xpa-download:before {
  content: "\e65a";
}

.xpa-export:before {
  content: "\e65b";
}

.xpa-import:before {
  content: "\e65c";
}

.xpa-print:before {
  content: "\e65d";
}

.xpa-reset:before {
  content: "\e65e";
}

.xpa-save:before {
  content: "\e65f";
}

.xpa-close:before {
  content: "\e637";
}

.xpa-zhengzaiyunhangliebiao:before {
  content: "\e638";
}

.xpa-hengxiang:before {
  content: "\e63b";
}

.xpa-kongzhitai:before {
  content: "\e63c";
}

.xpa-wenjianjia:before {
  content: "\e63e";
}

.xpa-lock:before {
  content: "\e63f";
}

.xpa-shangchuan:before {
  content: "\e635";
}

.xpa-off1:before {
  content: "\e630";
}

.xpa-xiugaimima:before {
  content: "\e62f";
}

.xpa-shanchu:before {
  content: "\e62d";
}

.xpa-on:before {
  content: "\e60e";
}

.xpa-off:before {
  content: "\e62c";
}

.xpa-merkaba:before {
  content: "\e62e";
}

.xpa-a-17Afasong:before {
  content: "\e602";
}

.xpa-a-yunhangbeifen2:before {
  content: "\e603";
}

.xpa-tianjia:before {
  content: "\e609";
}

.xpa-wangzhan:before {
  content: "\e60a";
}

.xpa-delete:before {
  content: "\e62b";
}

.xpa-lanmubianji:before {
  content: "\e62a";
}

.xpa-xiaoxi1:before {
  content: "\e629";
}

.xpa-fenleishouqi:before {
  content: "\e628";
}

.xpa-jinggao:before {
  content: "\e657";
}

.xpa-xuanzhong:before {
  content: "\e627";
}

.xpa-false:before {
  content: "\e626";
}

.xpa-right:before {
  content: "\e625";
}

.xpa-31xuanzhong:before {
  content: "\e600";
}

.xpa-weixuanzhong:before {
  content: "\e8bb";
}

.xpa-tabgengduo:before {
  content: "\e624";
}

.xpa-shensuowudise:before {
  content: "\e623";
}

.xpa-shensuo:before {
  content: "\e622";
}

.xpa-liebiaotuolaanniu:before {
  content: "\e621";
}

.xpa-gengduo:before {
  content: "\e73a";
}

.xpa-jiahao:before {
  content: "\eaf3";
}

.xpa-shouji:before {
  content: "\e692";
}

.xpa-youxiang:before {
  content: "\e908";
}

.xpa-erjicaidanzhankai:before {
  content: "\e61f";
}

.xpa-erjicaidanshouqi:before {
  content: "\e620";
}

.xpa-sousuo:before {
  content: "\e61e";
}

.xpa-xiaoxi:before {
  content: "\e61d";
}

.xpa-xiayiji:before {
  content: "\e61c";
}

.xpa-shaixuankuang-xiala-xuanzhong:before {
  content: "\e612";
}

.xpa-caigou:before {
  content: "\e613";
}

.xpa-guanji:before {
  content: "\e614";
}

.xpa-dingdan:before {
  content: "\e615";
}

.xpa-shuju:before {
  content: "\e616";
}

.xpa-zhangkuan:before {
  content: "\e617";
}

.xpa-shezhi:before {
  content: "\e618";
}

.xpa-crm:before {
  content: "\e619";
}

.xpa-cangku:before {
  content: "\e61a";
}

.xpa-fahuo:before {
  content: "\e61b";
}

.xpa-crumps-xiala:before {
  content: "\e60f";
}

.xpa-shengjiang:before {
  content: "\e610";
}

.xpa-help:before {
  content: "\e60d";
}

.xpa-shangla:before {
  content: "\e60b";
}

.xpa-shousuo:before {
  content: "\e60c";
}

