<!--<app-json-editor [mode]="mode" [(json)]="json"></app-json-editor>-->

<!--<button (click)="changeMode()">切换</button>-->


<!--<app-edit-input value="dada"></app-edit-input>-->


<div>
  <button nz-button nzType="primary" (click)="showModal()">Modal</button>
  <nz-modal
    [(nzVisible)]="isVisible"
    nzTitle="Modal"
    nzOkText="Ok"
    nzCancelText="Cancel"
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
  >
    <ng-container *nzModalContent>
      <p>Bla bla ...</p>
      <p>Bla bla ...</p>
      <p>Bla bla ...</p>
    </ng-container>
  </nz-modal>
</div>
<br />
<button nz-button nzType="primary" (click)="showConfirm()">Confirm</button>
