<div class="code-editor-tool-container">
  <mat-tab-group>
    <mat-tab label="First"> Content 1 </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group>
</div>



<div class="merkaba-tool-wrapper">
  <div class="tool-menu">
    <img src="../../../assets/qilin-logo.jpg" alt="qilin-logo" height="48" width="48">
    <div class="fengexian"></div>
    <ng-container *ngFor="let tool of tools;let index = index">
      <span (click)="changeToolStatus(tool, index)" [ngClass]="{ 'active': tool.isActive }">
        <i class="XPA" [ngClass]="tool.icon" style="font-size: 32px"></i>
      </span>
    </ng-container>
  </div>
  <div class="tool-content" >
    <as-split
      gutterSize="5"
      direction="vertical"
    >
      <as-split-area [size]="100" *ngIf="tools[0].isActive">
        <div class="tool-content-title">
          <div class="folder-info">
            <div class="folder-name" >亚马逊商品波动动分析
              <!--      <span nz-icon nzType="play-circle" nzTheme="outline"></span>-->
            </div>
            <div class="project-version">V2.00 </div>
          </div>
          <div class="folder-tools">
            <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 236px">
              <input type="text" nz-input placeholder="输入名称" />
            </nz-input-group>
            <ng-template #suffixIconSearch>
              <span nz-icon nzType="search"></span>
            </ng-template>
            <i class="XPA xpa-shanchu1" (click)="removeFile()" ></i>
            <i class="XPA xpa-xiazai" (click)="downloadFile()"></i>
            <i class="XPA xpa-a-xinzeng1" (click)="addFile()"></i>
          </div>
        </div>
        <div class="tool-content-item">
          <app-file-folder class="tool-content-item" #fileFolder></app-file-folder>
        </div>
      </as-split-area>
      <as-split-area [size]="30"  *ngIf="tools[1].isActive">
        <div style="padding-top: 0" class="tool-content-title">
          脚本配置
        </div>
        <div class="tool-content-item">

        </div>
      </as-split-area>
      <as-split-area [size]="30"  *ngIf="tools[2].isActive">
        <div style="padding-top: 0" class="tool-content-title">
          大纲
        </div>
        <div class="tool-content-item">
<!--          <code-outline></code-outline>-->
        </div>
      </as-split-area>
    </as-split>
  </div>
</div>



