<div class="file-folder-wrapper">
  <nz-tabset  [nzTabBarStyle]="{height: '48px', paddingLeft: '24px'}">
    @for (tool of tools; track tool) {
      <nz-tab [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <i [class]="'QILIN  '+ tool.icon" style="color: #899DB7; font-size: 48px;"></i>
        </ng-template>
        <div class="tool-content" >
          <ng-container *ngTemplateOutlet="tool.component"  ></ng-container>
        </div>
      </nz-tab>
    }
  </nz-tabset>
</div>

<ng-template #fileFolder>
  <app-file-folder #fileFolderComponent></app-file-folder>
</ng-template>
<ng-template #variableWatcher>
  <app-variable-watcher></app-variable-watcher>
</ng-template>
<ng-template #editorSettings>
  <app-editor-settings></app-editor-settings>
</ng-template>
<ng-template #outlineTree>
  <app-outline-tree></app-outline-tree>
</ng-template>




