<!--<div class="log-container" style="height: 100%; ">-->
<!--  <div class="tool-bar" style="height: 30px">-->
<!--    <div class="left-tool-bar">-->
<!--      <d-search [iconPosition]="'left'" [isKeyupSearch]="true" [noBorder]="true" (searchFn)="onSearch($event)"></d-search>-->
<!--      <i class="XPA xpa-up"></i>-->
<!--      <i class="XPA xpa-down"></i>-->
<!--      <button (click)="test()">Send</button>-->
<!--    </div>-->
<!--    <div class="right-tool-bar">-->
<!--      <i class="XPA xpa-chacha"></i>-->
<!--    </div>-->

<!--  </div>-->
<!--  <div class="log-content">-->
<!--    <cdk-virtual-scroll-viewport #scrollLogs itemSize="20" class="example-viewport" style="height: 100%">-->
<!--      <div *cdkVirtualFor="let item of items" class="example-item">{{ item }}</div>-->
<!--    </cdk-virtual-scroll-viewport>-->
<!--  </div>-->
<!--</div>-->
