<div class="outline-tree-container">
  <nz-tree
    nzBlockNode
    [nzData]="outlineTree"
    (nzClick)="activeNode($event)"
    (nzDblClick)="openFolder($event)"
    [nzTreeTemplate]="nzTreeTemplate"
    nzMultiple="false"
    nzExpandAll="true"
  ></nz-tree>
  <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node" (dblclick)="jumpTo(node)">
        @if (!node.isLeaf) {
          <span class="outline-node">
            <ng-container *ngTemplateOutlet="icon;context: {$implicit: node.kind}"></ng-container>
            <span class="folder-name">{{ node.title }}</span>
          </span>
        } @else {
          <span class="outline-node">
            <ng-container *ngTemplateOutlet="icon;context: {$implicit: node.kind}"></ng-container>
            <span class="file-name">{{ node.title }}</span>
          </span>
        }
      </span>
  </ng-template>
</div>


<!-- 图标有点问题  -->
<ng-template let-kind #icon>

  <div>
    @if(kind == 'function') {
      <i class="QILIN qilin-QT_jiedianliebiao_xianxing"></i>
    }
    @else if(kind == 'class') {
      <i class="QILIN qilin-QT_jiedianliebiao_xianxing"></i>
    }
    @else{
      <i class="QILIN qilin-QT_tuanduixiezuo_xianxing">{{ kind }}</i>
    }
  </div>
</ng-template>


