@import "src/assets/iconfont/iconfont.css";
* {
  font-family: PingFangSC-Regular, PingFang SC;
  margin: 0;
  padding: 0;
}
::ng-deep :root {
  --merkaba-menu-hover-color: #eee;
  --theme-tool-header: #eee;
  --theme-log-background-color:#fff;
}
@media (prefers-color-scheme: dark) {
  ::ng-deep :root {
    --theme-minor-text-color: #c8c8c8;
    --theme-header-text-color: #c8c8c8;
    --theme-border-color: rgb(97, 97, 97);
    --theme-tool-header: #454b59;
    --merkaba-menu-hover-color: #454b59;
    --theme-select-bg-color: #2c385a;
    --theme-background-color: rgb(36, 42, 48);
    --theme-log-background-color: #121212;
  }
}
@mixin radius-icon() {
  border-radius: 5px;
  text-align: center;
}
//  头部btn
@mixin headerBtn() {
  display: inline-block;
  height: 30px;
  color: #595757;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  margin-right: 20px;
  i {
    margin-right: 2px;
    font-size: 12px;
  }
}
@mixin btnIcon() {
  border: 1px solid #E9E9EA;
  border-radius: 5px;
}
@mixin reset() {
  background: transparent;
  margin: 0 ;
  border: 0;
  transition: none;
}
@mixin btnCommon($width, $height, $bgColor: inherit,$color: inherit) {
  position: absolute;
  top: 50%;
  width: $width;
  height: $height;
  line-height: $height;
  background-color: $bgColor;
  color: $color;
}

.automated{
  height: 100%;
  width: 100%;

}


@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: #000000;
  overflow: hidden;
}
.spinner div:first-child {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
  transform: translate3d(0, 0, 0);
  animation: spin 2s linear infinite;
}
.spinner div:first-child:after,
.spinner div:first-child:before {
  content: '';
  position: absolute;
  border-radius: 50%;
}
.spinner div:first-child:before {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
.spinner div:first-child:after {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
  animation: spin 1.5s linear infinite;
}
