@import "src/assets/iconfont/iconfont.css";
* {
  font-family: PingFangSC-Regular, PingFang SC;
  margin: 0;
  padding: 0;
}
::ng-deep :root {
  --merkaba-menu-hover-color: #eee;
  --theme-tool-header: #eee;
  --theme-log-background-color:#fff;
}
@media (prefers-color-scheme: dark) {
  ::ng-deep :root {
    --theme-minor-text-color: #c8c8c8;
    --theme-header-text-color: #c8c8c8;
    --theme-border-color: rgb(97, 97, 97);
    --theme-tool-header: #454b59;
    --merkaba-menu-hover-color: #454b59;
    --theme-select-bg-color: #2c385a;
    --theme-background-color: rgb(36, 42, 48);
    --theme-log-background-color: #121212;
  }
}
@mixin radius-icon() {
  border-radius: 5px;
  text-align: center;
}
//  头部btn
@mixin headerBtn() {
  display: inline-block;
  height: 30px;
  color: #595757;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
  border: 1px solid transparent;
  margin-right: 20px;
  i {
    margin-right: 2px;
    font-size: 12px;
  }
}
@mixin btnIcon() {
  border: 1px solid #E9E9EA;
  border-radius: 5px;
}
@mixin reset() {
  background: transparent;
  margin: 0 ;
  border: 0;
  transition: none;
}
@mixin btnCommon($width, $height, $bgColor: inherit,$color: inherit) {
  position: absolute;
  top: 50%;
  width: $width;
  height: $height;
  line-height: $height;
  background-color: $bgColor;
  color: $color;
}

.automated{
  height: 100%;
  width: 100%;
}
