<div class="merkaba-scripts-wrapper">
  <nz-tabset
    [(nzSelectedIndex)]="currentScriptIndex"
    nzType="editable-card"
    (nzClose)="closeTab($event)"
    [nzHideAdd]="true"
    style="height: calc(100% - 36px); width: 100%;"
    [nzTabBarStyle]="{height: '48px'}"
    (nzSelectChange)="switchTabChange($event)"
  >
    @for (tab of scriptTabs; track tab) {
      <nz-tab nzClosable [nzTitle]="tab.name" style="height: 100%; width: 100%">
        <div class="code"  style="height: 100%; width: 100%;">
          <div class="editor" [ngClass]="'editor-' + tab.id" style="height: 100%; width: 100%;"> </div>
        </div>
      </nz-tab>
    }
  </nz-tabset>
</div>

