@import "../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../../../assets/iconfont/iconfont.css";
.merkaba-scripts-wrapper{
  width: 100%;
  height: 100%;
  ::ng-deep nz-tabset{
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
      color: #D0D1D6;
    }
    .ant-tabs-tab-remove{
      color: #D0D1D6;
    }
    .ant-tabs .ant-tabs-nav{
      padding: 0;
    }

    .ant-tabs-nav{
      border-top: 1px solid rgba(255, 255, 255, 0.10);
      border-bottom: 1px solid rgba(255, 255, 255, 0.10);
      color: #D0D1D6;
      padding: 0;
    }
    .ant-tabs-nav::before{
      border: none;
    }
    .ant-tabs-tab{
      background: #121b32;
      color: #899DB7;
      border: none;
    }
    .ant-tabs-content{
      height: 100%;
      .ant-tabs-tabpane{
        height: 100%;
      }
    }

    .ant-tabs-tab-active{
      background: #000e17;
      border: none;
    }
    .ant-tabs-nav{
      margin: 0;
    }

    ::ng-deep nz-tab .code{
      height: 100%;
    }
  }

}
