<div class="login">
  <div class="title">
    <div>XPA管理系统</div>
    <p>XPA = RAP + ERP</p>
  </div>
  <img class="login-img" src="../../assets/img/Login/login.png" draggable="false" alt="">
  <div class="right">
    <form class="content">
      <p style="color: #333;font-weight: 600;margin-bottom: 20px;font-size: 30px;">登录</p>
      <p style="margin-bottom: 45px;color: #333;">Hi！欢迎使用XPA系统</p>
      <div class="input-item">
        <p>账号</p>
        <input type="text" placeholder="输入账号/邮箱/手机号" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="input-item">
        <p>密码</p>
        <input type="password" placeholder="请输入密码" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="pwd">
        <div class="remember-pwd">
          <input type="checkbox" name="" id="rememberPassword" [(ngModel)]="isRemember" [ngModelOptions]="{standalone: true}">
          <label for="rememberPassword">记住密码</label>
        </div>
        <a>忘记密码</a>
      </div>
      <button (click)="login()" nz-button nzType="primary" nzBlock class="btn">登录</button>
      <div style="text-align: center">还没有账号？<a >注册</a></div>
    </form>
    <p>XPA 版权所有 © 2021-2022</p>
  </div>
</div>
