@import "../../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../../../../assets/iconfont/iconfont.css";

::ng-deep .ant-tree-list{
  background: #111b31;
  color: #EBECEF;

  .ant-tree-treenode nz-tree-node-title.ant-tree-node-content-wrapper.ant-tree-node-selected{
    background-color: #333E57;
  }
  .ant-tree-treenode nz-tree-node-title.ant-tree-node-content-wrapper{
    display: flex;

  }
  .custom-node.ng-star-inserted{
    width: 100%;
    .node-item-container{
      display: flex;
      justify-content:space-between;
      .left{
        display: flex;
        align-items: center;
        gap: 8px;
      }
      .right{

        display: flex;
        gap: 8px;
        align-items: center;
        .prod-version{
          color: #899DB7;
          border-radius: 4px;
          border: 1px solid #566080;
          padding: 3px 8px;
        }
      }
    }
  }
  .ant-tree-treenode nz-tree-node-title.ant-tree-node-content-wrapper:hover{
    background-color: #333E57;
  }
}

::ng-deep nz-input-group.ant-input-affix-wrapper{
  background-color: #121b32;

  color: #EBECEF;
  height: 48px;
  margin-bottom: 24px;
  input.ant-input{
    background: #121b32;
    color: #EBECEF;
  }
}


::ng-deep .ant-dropdown{
  background: #323e56;
  border-radius: 4px;
  ul.ant-dropdown-menu{
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    background: #323e56;
    color: #899DB7;
    li, .ant-dropdown-menu-submenu-title{
      color: #899DB7;
      width: 104px;
      height: 32px;
      line-height: 32px;
      .ant-dropdown-menu-submenu-arrow-icon{
        color: #899DB7;
      }
    }
    li:hover, .ant-dropdown-menu-submenu-title:hover{
      color: #EBECEF;
      background: #52617e;
      .ant-dropdown-menu-submenu-arrow-icon:hover{
        color: #EBECEF;
      }
    }
  }
}

::ng-deep .ant-menu-submenu{
  .ant-dropdown-menu-sub{
    background: #323e56;
    border-radius: 4px;
    .ant-dropdown-menu-item{
      color: #899DB7;
      width: 104px;
      height: 32px;
      line-height: 32px;
    }
    .ant-dropdown-menu-item:hover{
      color: #EBECEF;
      background: #52617e;
    }
  }
}
::ng-deep .ant-modal .ant-modal-content{
  border-radius: 10px;
  .ant-modal-header{
    background-color: #2b2d30;
    color: #dfe1e5;
    border-bottom: 1px solid black;
    .ant-modal-title{
      color: #dfe1e5;
    }
  }
  .ant-modal-body{
    background-color: #2b2d30;
    padding: 0 3px;
    input{
      width: 100%;
      background-color: #2b2d30;
      outline: none;
      color: #dfe1e5;
    }
  }
}


