@import "../../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../../../../assets/iconfont/iconfont.css";

::ng-deep .ant-tree-node-folder:hover {
  background-color: #654321 !important; /* 文件夹类型节点悬浮时的颜色 */
}
.ant-tree.ant-tree-directory{
  .ant-tree-treenode-selected::before, .ant-tree-treenode-selected:hover::before{
    background: #323e56;
  }
  .ant-tree-treenode:hover::before:hover{
    background: #323e56;
  }
}
::ng-deep .ant-tree{
  .list-noleaf{
    display: flex;
    width: 100%;
  }
  .cdk-tree-node{
    height: 32px;
    line-height: 32px;

    color: #899DB7;
    //color: #323e56;
  }

}

.list-item {
  width: 100%;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .list-item-right{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    color: var(---1, #EBECEF);

    .prd-version{
      min-width: 47px;;
      border-radius: 4px;
      border: 1px solid var(---4, #566080);
      text-align: center;
    }
  }
}
