<nz-input-group [nzSuffix]="suffixIcon"  [nzPrefix]="prefixTemplateUser" style="background-color: #121b32;border: 1px solid rgba(255, 255, 255, 0.10);">
  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue"/>
</nz-input-group>
<ng-template #suffixIcon>
  <i class="QILIN qilin-QT_guanbi " style="color: #D0D1D6; font-size: 24px"></i>
</ng-template>
<ng-template #prefixTemplateUser><i class="QILIN qilin-QT_sousuokuang_sousuo" style="color: #D0D1D6; font-size: 24px" (click)="clearSearch()"></i></ng-template>

<nz-tree
  nzBlockNode
  [nzData]="nodes"
  (nzClick)="activeNode($event)"
  [nzSearchValue]="searchValue"
  (nzDblClick)="openFolder($event)"
  [nzTreeTemplate]="nzTreeTemplate"
  (nzSearchValueChange)="nzEvent($event)"
  (nzContextMenu)="activeNode($event)"
></nz-tree>

<!--
  使用弹窗之后的代码过程
  1. 点击新建 文件/文件夹 我需要用一个标记去标记他是否是新建的填写窗口
  2. 然后我填写完基本信息之后， 按下enter之后我才拿着这些信息去提交服务器拿去正确的信息， 最后修改标志位
 -->
<ng-template #nzTreeTemplate let-node let-origin="origin">
  @if (origin.newFlag){
<!--   新建文件之后需要获取  -->
<!--    <app-contenteditable-input (valueChange)="onValueChange($event)" ></app-contenteditable-input>-->
  }
  @else{
    <span class="custom-node">
    @if (!node.isLeaf) {
      <span (contextmenu)="contextMenu($event, clickFolder, node)" class="node-item-container">
        <span class="left">
          <ng-container *ngTemplateOutlet="treeViewIcon; context: {$implicit: origin.type}"></ng-container>
          <span class="folder-name">{{ node.title }} </span>
        </span>
      </span>
    } @else {
      <span (contextmenu)="contextMenu($event, clickFile, node)" class="node-item-container">
        <div class="left file-name"><ng-container
          *ngTemplateOutlet="treeViewIcon; context: {$implicit: origin.type}"></ng-container>
          {{ node.title }}</div>
        <div class="right">
            <div class="dev-version">V{{ origin.devVersion }}</div>
            <div class="prod-version">V{{ origin.prdVersion }}</div>
        </div>
      </span>
    }
  </span>
  }

</ng-template>

<!--
 通过传入的node区分下面三类
 点击空白区域只有 1. 文件 2. 文件夹
 点击文件       2. 发布 2. 重命名  3. 删除
 点击文件夹      1. 新建 1）文件夹 2）文件  2 重命名  3 删除
 -->
<nz-dropdown-menu #clickFolder="nzDropdownMenu">
  <ul nz-menu>
    <li nz-submenu nzTitle="新建">
      <ul class="list-noleaf-container">
        <li nz-menu-item (click)="selectFileType(2)">文件</li>
        <li nz-menu-item (click)="selectFileType(1)">文件夹</li>
      </ul>
    </li>
    <li nz-menu-item (click)="publish()">发布</li>
    <li nz-menu-item (click)="selectFileType(3)">重命名</li>
    <li nz-menu-item (click)="delete()">删除</li>
  </ul>
</nz-dropdown-menu>

<nz-dropdown-menu #clickFile="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item (click)="publish()">发布</li>
    <li nz-menu-item (click)="selectFileType(3)">重命名</li>
    <li nz-menu-item (click)="delete()">删除</li>
  </ul>
</nz-dropdown-menu>

<ng-template let-type #treeViewIcon>
  <ng-container *ngIf="type === 2;else otherCondition">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <g opacity="0.6">
        <path fill-rule="evenodd" clip-rule="evenodd"
              d="M3 5C3 3.34315 4.34315 2 6 2H14C15.6569 2 17 3.34315 17 5V13.5858C17 13.851 16.8946 14.1054 16.7071 14.2929L14.2929 17.7071C14.1054 17.8946 13.851 18 13.5858 18H6C4.34315 18 3 16.6569 3 15V5ZM5 6.75C5 6.33579 5.33579 6 5.75 6H12.75C13.1642 6 13.5 6.33579 13.5 6.75C13.5 7.16421 13.1642 7.5 12.75 7.5H5.75C5.33579 7.5 5 7.16421 5 6.75ZM5.75 9.5C5.33579 9.5 5 9.83579 5 10.25C5 10.6642 5.33579 11 5.75 11H10.75C11.1642 11 11.5 10.6642 11.5 10.25C11.5 9.83579 11.1642 9.5 10.75 9.5H5.75Z"
              fill="#288AD3"/>
      </g>
    </svg>
  </ng-container>
  <ng-template #otherCondition>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
      <path d="M2 4C2 3.44772 2.44772 3 3 3H9C9.55228 3 10 3.44772 10 4V5H17C17.5523 5 18 5.44772 18 6V7H2V4Z"
            fill="#288AD3"/>
      <path d="M18 15.5V8.5H2V15.5C2 16.6046 2.89543 17.5 4 17.5H16C17.1046 17.5 18 16.6046 18 15.5Z" fill="#288AD3"/>
    </svg>
  </ng-template>
</ng-template>

<!--  新建文件夹 新建文件夹 -->
<!--<nz-modal-->
<!--  nzDraggable-->
<!--  nzCentered-->
<!--  [(nzVisible)]="isVisible"-->
<!--  nzTitle="Draggable Modal"-->
<!--  (nzOnCancel)="handleCancel()"-->
<!--  (nzOnOk)="handleOk()"-->
<!--&gt;-->
<!--  <ng-container *nzModalContent>-->
<!--    <input type="text">-->
<!--  </ng-container>-->
<!--</nz-modal>-->


<nz-modal
  nzDraggable
  [(nzVisible)]="isVisible"
  nzClosable="false"
  nzTitle="新建文件夹"
  [nzFooter]=null
>
  <ng-container *nzModalContent>
<!--    -->
    <input type="text"
           #newName
           (keydown.enter)="handleEnter(newName.value)"
           (keydown.escape)="isVisible = false"
    >
  </ng-container>
</nz-modal>



