@import "../../../../../node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "../../../../assets/iconfont/iconfont.css";

::ng-deep .ant-tree-node-folder:hover {
  background-color: #654321 !important; /* 文件夹类型节点悬浮时的颜色 */
}
.ant-tree.ant-tree-directory{
  .ant-tree-treenode-selected::before, .ant-tree-treenode-selected:hover::before{
    background: #323e56;
  }
  .ant-tree-treenode:hover::before:hover{
    background: #323e56;
  }
}
::ng-deep .ant-tree{
  .list-noleaf{
    display: flex;
    width: 100%;
  }
  .cdk-tree-node{
    height: 32px;
    line-height: 32px;

    color: #899DB7;
    //color: #323e56;
  }

}

.list-item {
  width: 100%;
  padding-right: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .list-item-right{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
    color: var(---1, #EBECEF);

    .prd-version{
      min-width: 47px;;
      border-radius: 4px;
      border: 1px solid var(---4, #566080);
      text-align: center;
    }
  }
}

::ng-deep .ant-dropdown{
  background: #323e56;
  border-radius: 4px;
  ul.ant-dropdown-menu{
    border-radius: 4px;
    padding: 8px;
    font-size: 14px;
    background: #323e56;
    color: #899DB7;
    li, .ant-dropdown-menu-submenu-title{
      color: #899DB7;
      width: 104px;
      height: 32px;
      line-height: 32px;
      .ant-dropdown-menu-submenu-arrow-icon{
        color: #899DB7;
      }
    }
    li:hover, .ant-dropdown-menu-submenu-title:hover{
      color: #EBECEF;
      background: #52617e;
      .ant-dropdown-menu-submenu-arrow-icon:hover{
        color: #EBECEF;
      }
    }
  }
}

::ng-deep .ant-menu-submenu{
  .ant-dropdown-menu-sub{
    background: #323e56;
    border-radius: 4px;
    .ant-dropdown-menu-item{
      color: #899DB7;
      width: 104px;
      height: 32px;
      line-height: 32px;
    }
    .ant-dropdown-menu-item:hover{
      color: #EBECEF;
      background: #52617e;
    }
  }
}
//ul{
//  padding: 8px;
//  font-size: 14px;
//  color: inherit;
//  border-radius: 4px;
//}
//li{
//  width: 104px;
//  height: 32px;
//  line-height: 32px;
//}

//li:hover .ant-menu-title-content{
//  background: #52617e;
//  cursor: pointer;
//  color: #EBECEF
//}
