<div class="folder-area">
  <div class="folder-info">
    <div class="folder-name" >亚马逊商品波动动分析
<!--      <span nz-icon nzType="play-circle" nzTheme="outline"></span>-->
    </div>
    <div class="project-version">V2.00 </div>
  </div>
  <div class="folder-tools">
    <nz-input-group [nzSuffix]="suffixIconSearch" style="width: 236px">
      <input type="text" nz-input placeholder="输入名称" />
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <span nz-icon nzType="search"></span>
    </ng-template>
    <i class="XPA xpa-shanchu1"></i>
    <i class="XPA xpa-xiazai"></i>
    <i class="XPA xpa-a-xinzeng1"></i>
  </div>

  <nz-tree-view [nzTreeControl]="treeControl" [nzDataSource]="dataSource" [nzDirectoryTree]="true" style="overflow: scroll; height: 100vh">
    <nz-tree-node *nzTreeNodeDef="let node" nzTreeNodePadding>
      <nz-tree-node-toggle nzTreeNodeNoopToggle></nz-tree-node-toggle>
      <nz-tree-node-option
        [nzDisabled]="node.disabled"
        [nzSelected]="selectListSelection.isSelected(node)"
        (nzClick)="selectListSelection.toggle(node)"
      >
        <span nz-icon nzType="file" nzTheme="outline"></span>
        {{ node.name }}
      </nz-tree-node-option>
    </nz-tree-node>

    <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodePadding>
      <nz-tree-node-toggle>
        <span nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></span>
      </nz-tree-node-toggle>
      <nz-tree-node-option
        [nzDisabled]="node.disabled"
        [nzSelected]="selectListSelection.isSelected(node)"
        (nzClick)="selectListSelection.toggle(node)"
      >
        <span nz-icon [nzType]="treeControl.isExpanded(node) ? 'folder-open' : 'folder'" nzTheme="outline"></span>
        {{ node.name }}
      </nz-tree-node-option>
    </nz-tree-node>
  </nz-tree-view>

</div>
