@import "node_modules/ng-zorro-antd/ng-zorro-antd.min.css";
@import "src/assets/iconfont/iconfont.css";
.folder-area{
  margin-top: 21px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;

  .folder-info{
    display: flex;
    flex-direction: row;
    .folder-name{
      font-size: 20px;
      font-weight: bold;
    }
    .project-version{
      text-align: center;
      background-color: #D86A03;
      width: 47px;
      height: 24px;
      line-height: 24px;
      border-radius: 4px;
      color: #ffffff;
    }
  }
  .folder-tools{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  nz-input-group {
    margin-bottom: 8px;
  }

  ::ng-deep .highlight {
    color: #f50;
  }
}
